/* @group Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* @group reset end */

/* Dash CSS */

body {
	background-color: #fff;
	font: 14px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #555555;
	text-rendering: optimizelegibility;
	
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	
	-moz-tap-highlight-color:rgba(0,0,0,0); 
	-moz-text-size-adjust: none;
	-moz-font-smoothing: antialiased;
	
	-ms-tap-highlight-color:rgba(0,0,0,0); 
	-ms-text-size-adjust: none;
	-ms-font-smoothing: antialiased;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

header {
	height: 60px;
	position: relative;
	background-color: #3b5998;
	z-index: 0;
}

header h1 {
	color: #ffffff;
	text-align: left;
	font-size: 27px;
	line-height: 60px;
	font-weight: bold;
	padding-left: 20px;
}

.burger {
	position: absolute;
	float: left;
	padding: 10px;
	top: 4px;
	left: 10px;
	border-style: solid;
	border-width: 0;
	border-radius: 10px;
	background-color: #3b5998;
	display: none;
}

.burger li {
	width: 30px;
	height: 4px;
	background-color: #ffffff;
	border-radius: 3px;
	margin: 5px 0;
}

.burger.open li {
	background-color: #ffffff;
}

nav {
	height: 60px;
	position: fixed;
	top: 0;
	right: 5px;
	z-index: 1;
}

nav li {
	display: block;
	height: 40px;
}

nav li a {
	font-size: 15px;
	color: #9aa6af;
	padding-top: 12px;
	padding-left: 15px;
	padding-bottom: 11px;
	display: block;
}

nav li a:hover {
	color: #000;
}

.side {
	background-color: white;
	width: 200px;
	left: 0;
	margin-top: 60px;
	height: 100%;
	display: block;
}


.content {
	z-index: 0;
	padding-top: 20px;
	padding-left: 15px;
	padding-right: 15px;
	min-height: 500px;
	height: 100%;
	background-color: #639bf1;
	opacity: 1;
}



/* show NavToggle on MD screen or smaller*/
@media only screen and (max-width: 992px) {

header {
	opacity: 1;
	height: 60px;
	z-index: 1;
	background-color: #293e6a;
	margin: 0;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	/* starting point */
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

header h1 {
	margin-top: 0;
	color: #ffffff;
	text-align: center;
	padding-left: 0;
	display: block;
}

.burger {
	display: block;
}

.content {
	margin-top: 60px;
}