/* color scheme at http://paletton.com/#uid=53z0u0kU1Ktq8RtACTbTRtwTdmS */
html, body {
	width: 100%;
	overflow-x: hidden;
}

header {
	height: 50px;
	background-color: #023F76;
	position: fixed;
	z-index: 3;
	width: 100%;
	/* add the following line to eliminate blink when scroll */
	-webkit-transform: translate3d(0,0,0);
}

header h1 {
	margin: auto;
	padding-top: 5px;
	margin-left: 65px;
	color: #eeeeee;
}

.burger {
	position: absolute;
	float: left;
	padding: 10px;
	top: 0;
	left: 5px;
	border-style: solid;
	border-width: 0;
	border-radius: 10px;
}

.burger li {
	width: 30px;
	height: 4px;
	background-color: #82BEE5;
	border-radius: 3px;
	margin: 5px 0;
	list-style: none;
	margin-right: 0;
}

.wrapper {
	position: relative;
	margin-left: -180px;
}

nav {
	background-color: #025198;
	width: 240px;
	height: 100vh;
	position: fixed;
	left: 0px;
	margin-left: -180px;
	top: 50px;
}

nav ul {
	padding: 0;
}

nav li {
	list-style: none;
	height: 50px;
	font-size: 20px;
	color: #82BEE5;
	border-bottom: solid;
	border-width: 2px;
	border-color: #023F76;
	padding: 10px 5px 10px 10px;
}

nav li i {
	margin-right: 15px;
	float: right;
	padding: 5px 0 5px 0;
}

.nav {
	-webkit-transition: -webkit-transform 0.3s linear;
	-webkit-transform: translateX(180px);
	transision: transform 0.3s linear;
    transform: translateX(180px);
}

.nav-open {
	-webkit-transition: -webkit-transform 0.3s linear;
	-webkit-transform: translateX(180px);
	transision: transform 0.3s linear;
    transform: translateX(180px);
    position: fixed;
}

.nav-closed {
	-webkit-transition: -webkit-transform 0.3s linear;
	-webkit-transform: translateX(0);
	transision: transform 0.3s linear;
    transform: 0.3 stranslateX(0);
    position: fixed;
}

.content {
	float: right;
	background-color: #eeeeee;
	width: calc(100% - 420px);
	z-index: 5;
	overflow-y: auto;
	overflow-x: hidden; 
	margin-top: 50px;
	margin-right: 181px;
	-webkit-transition: -webkit-transform 0.3s linear;
	-webkit-transform: translateX(180px);
	transision: transform 0.3s linear;
    transform: translateX(180px);
}

.cont-open {
	width: calc(100% - 420px);
	-webkit-transition: width 0.3s linear;
	transform: width 0.3s linear;
/*	-webkit-transition: -webkit-transform 0.3s linear;
	-webkit-transform: translateX(180px);
	transision: transform 0.3s linear;
    transform: translateX(180px);*/
}

.cont-closed {
	width: calc(100% - 240px);
	-webkit-transition: width 0.3s linear;
	transform: width 0.3s linear;
/*	-webkit-transition: -webkit-transform 0.3s linear;
	-webkit-transform: translateX(0);
	transision: transform 0.3s linear;
    transform: 0.3 stranslateX(0);*/
}

.content-div {
	padding: 10px;
	min-height: 300px;
}

/* settings when screen smaller than 992px */
@media only screen and (max-width: 992px) {
	header {
		text-align: center;
	}

	.nav {
		-webkit-transition: -webkit-transform 0.3s linear;
		-webkit-transform: translateX(0);
		transision: transform 0.3s linear;
	    transform: 0.3 stranslateX(0);
	}

	.nav-open {
		-webkit-transition: -webkit-transform 0.3s linear;
		-webkit-transform: translateX(180px);
		transision: transform 0.3s linear;
	    transform: translateX(180px);
	    position: fixed;
	}

	.nav-closed {
		-webkit-transition: -webkit-transform 0.3s linear;
		-webkit-transform: translateX(0);
		transision: transform 0.3s linear;
	    transform: 0.3 stranslateX(0);
	    position: fixed;
	}

	.content {
		margin-right: 0px;
		width: calc(100% - 240px);
		-webkit-transition: -webkit-transform 0.3s linear;
		-webkit-transform: translateX(0);
		transision: transform 0.3s linear;
	    transform: 0.3 stranslateX(0);
	}

	.cont-open {
		-webkit-transition: -webkit-transform 0.3s linear;
		-webkit-transform: translateX(180px);
		transision: transform 0.3s linear;
	    transform: translateX(180px);
	}

	.cont-closed {
		-webkit-transition: -webkit-transform 0.3s linear;
		-webkit-transform: translateX(0);
		transision: transform 0.3s linear;
	    transform: 0.3 stranslateX(0);
	}
}

